/**
 * @name Serendipity
 * @author Darkharden
 * @version 1.1.0
 * @description Discord theme based on Serendipity for VSCode
 * @source https://github.com/schalkburger/discord-serendipity
*/

/****************************************************************

* ===  1. Global ===
* ===  2. Server List  ===
* ===  3. Left Sidebar ===
* ===  4. User Area  ===
* ===  5. Main Chat ===
* ===  6. Members List  ===
* ===  7. Direct Messages  ===
* ===  8. Settings  ===
* ===  9. Plugins  ===
* ===  10. Major  ===

**************************************************************/

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,500&display=swap");

/****************************************************************
* ===  Global ===
**************************************************************/

.theme-dark {
  --background-primary: #151726;
  --background-secondary: #1c1e2d;
  --background-secondary-alt: #232534;
  --channeltextarea-background: #232534;
  --background-tertiary: #232534;
  --background-accent: #f8d2c9;
  --text-normal: #dee0ef;
  --text-spotify: #9ccfd8;
  --text-muted: #6b6d7c;
  --text-link: #5ba2d0;
  --background-floating: #1c1e2d;
  --header-primary: #dee0ef;
  --header-secondary: #9ccfd8;
  --header-spotify: #9ccfd8;
  --interactive-normal: #dee0ef;
  --interactive-hover: #94b8ff;
  --interactive-active: #dee0ef;
  --ping: #ee8679;
  --brand-experiment: #5ba2d0;
  --brand-green: #5bd088;
}

/****************************************************************
* ===  Servers sidebar ===
**************************************************************/

/* Server sidebar width */

nav[class*="guilds"] {
  width: 72px;
}

nav[class*="guilds"] div[class*="listItem"][class*="frame"] {
  width: 72px;
}

/* Buttons e.g. Public & Read All */

nav[class*="guilds"] div[class*="tutorialContainer"] #bd-pub-button {
  border-radius: 0;
  line-height: 1;
  width: 90%;
}

nav[class*="guilds"]
  div[class*="listItem"][class*="frame"]
  div[class*="wrapper"][class*="innerFrame"] {
  width: inherit;
  height: inherit;
}

nav[class*="guilds"]
  div[class*="listItem"][class*="frame"]
  div[class*="wrapper"][class*="innerFrame"]
  div[class*="childWrapper"][class*="button"] {
  border-radius: 0;
  line-height: 1;
}

/* Server icon sizes */

nav[class*="guilds"]
  div[class*="listItem"]
  div[class*="wrapper"]
  svg
  > foreignObject
  > div {
  width: inherit;
  height: inherit;
}

nav[class*="guilds"] div[class*="listItem"] div[class*="wrapper"],
nav[class*="guilds"] div[class*="listItem"] div[class*="wrapper"] svg {
  width: 32px;
  height: 32px;
}

/* Muted servers */

nav[class*="guilds"] div[class*="listItem"][class*="bd-guild"] {
  filter: grayscale(1) opacity(0.5);
  padding: 8px 0 10px 0;
}

/* Selected server */

nav[class*="guilds"]
  div[class*="listItem"][class*="bd-guild"][class*="bd-selected"] {
  background-color: var(--background-floating);
  filter: grayscale(0) opacity(1);
}

/* nav[class*="guilds"]
  div[class*="listItem"][class*="bd-guild"][class*="bd-selected"][class*="bd-muted"] {
    background-color: transparent;
  margin: 0 0 12px;
  padding: 8px 0 4px 0;
} */

nav[class*="guilds"]
  div[class*="listItem"][class*="bd-guild"][class*="bd-selected"]
  span {
  background-color: transparent;
  margin: 0 0 8px;
  padding: 8px 0 4px 0;
  width: 4px;
}

nav[class*="guilds"]
  div[class*="listItem"][class*="bd-guild"][class*="bd-audio"] {
  background-color: var(--background-floating);
  filter: grayscale(0) opacity(1);
  margin: 0 0 8px;
  padding: 8px 0 4px 0;
  border-left: 4px solid var(--brand-green);
}

nav[class*="guilds"]
  div[class*="listItem"][class*="bd-guild"][class*="bd-audio"]
  span {
  background-color: transparent;
  margin: 0 0 8px;
  padding: 8px 0 4px 0;
  width: 4px;
}

nav[class*="guilds"]
  div[class*="listItem"][class*="bd-guild"][class*="bd-audio"][class*="bd-selected"]
  > div {
  height: 100%;
}

/* Folders */

nav[class*="guilds"]
  div[class*="wrapper"]
  span[class*="expandedFolderBackground"]
  + div[class*="listItem"] {
  filter: grayscale(1) opacity(0.5);
}

/* Create and Discover buttons */

nav[class*="guilds"]
  div[class*="tutorialContainer"]
  div[class*="circleIconButton"]
  svg {
  filter: grayscale(1) opacity(0.5);
}

nav[class*="guilds"]
  div[class*="tutorialContainer"]
  + div[class*="listItem"]
  svg {
  filter: grayscale(1) opacity(0.5);
}

/****************************************************************
* ===  Channel List ===
**************************************************************/

div[class*="sidebar"] {
  width: 200px;
}

/****************************************************************
* ===  Members List ===
**************************************************************/

aside[class*="membersWrap"] {
  min-width: 240px;
}

div[class*="members"] {
  width: 240px;
}

/****************************************************************
* ===  Plugin: ChannelDms ===
**************************************************************/

div[class*="content"]
  .ChannelDms-channelmembers-wrap
  .ChannelDms-channelmembers-header {
  background-color: var(--background-primary);
}

div[class*="content"]
  .ChannelDms-channelmembers-wrap
  .ChannelDms-channelmembers-header
  div[class*="selected"] {
  background-color: var(--channeltextarea-background);
  border-radius: 0;
}
