/**
 * @name Serendipity
 * @author Darkharden
 * @version 1.0.0
 * @description Discord theme based on Serendipity for VS Code
 * @source https://github.com/schalkburger/discord-serendipity
*/

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,500&display=swap");

/****************************************************************
* ===  Variables ===
**************************************************************/

:root {
  --color-raisinblack: #232834;
  --color-ebonyclay: #1f2430;
  --color-timberwolf: #8d917c;
  --color-lightsalmon: #f29e74;
  --color-cyclamen: #f06897;
  --color-mauve: #d4bfff;
  --color-celeste: #9ef0f0;
  --color-lightskyblue: #73d0ff;
  --color-frenchskyblue: #78a9ff;
  --color-bluegreen: #519aba;
  --color-manatee: #8c94a3;
  --color-white: #ffffff;
  --color-charcoal: #333b4e;
}

body {
  background-color: var(--color-raisinblack);
  font-family: "IBM Plex Sans", sans-serif;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 15px !important;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border: 3px solid transparent !important;
  border-radius: 7px !important;
  background-clip: padding-box !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-raisinblack) !important;
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-manatee) !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: var(--color-raisinblack) !important;
}

/****************************************************************
* ===  Top Bar  ===
**************************************************************/

/* Title Bar */

.titleBar-AC4pGV {
  background: var(--color-ebonyclay);
}

/* Top Bar Background */

.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih {
  overflow: visible !important;
  background: var(--color-ebonyclay);
}

/* Top Bar Divider */

.theme-dark .children-19S4PO:after {
  background: transparent;
}

/* Discord Icon */

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background: transparent;
}

/* Server Icons */

.bd-minimal .container-1r6BKw,
.childWrapper-anI2G9,
.bd-minimal .guilds-1SWlCJ #bd-pub-button,
#app-mount .guilds-1SWlCJ .frame-oXWS21[class*="listItem"] .button-Jt-tIg {
  background: transparent;
  line-height: 2;
  padding: 0;
  height: 40px;
  border-radius: 0;
  font-size: 12px;
}

.childWrapper-anI2G9,
.wrapper-1BJsBx img,
#app-mount .guilds-1SWlCJ .svg-1X37T1,
#app-mount .guilds-1SWlCJ .wrapper-25eVIn,
#app-mount .guilds-1SWlCJ .guildsError-b7zR5H,
#app-mount .guilds-1SWlCJ .placeholderMask-3K9THS {
  width: 35px !important;
  height: 35px !important;
  border-radius: 0;
  background-color: var(--color-raisinblack);
}

#app-mount .guilds-1SWlCJ [class*="listItem"]:not([class*="listItemWrapper"]) {
  margin: 12px 6px;
}

.upperLeftBadge-e35IpL .iconBadge-3qSJIw {
  background-color: transparent;
}

/* Search */

.searchBar-3dMhjb {
  background: transparent;
}

/* Folders */

.folderIconWrapper-1_bOZe,
.folder-1hbNCn,
.circleIconButton-1QV--U {
  background-color: transparent !important;
}

/* Expanded Folder */

.expandedFolderBackground-1cujaW {
  background-color: var(--color-raisinblack);
}

/* Server Unread Pill */

#app-mount .guilds-1SWlCJ [class*="pill"] span[style*="height: 40"] {
  background-color: var(--color-raisinblack);
  border-radius: 0;
}

#app-mount .guilds-1SWlCJ [class*="pill"] span[style*="height: 8"] {
  background-color: var(--color-raisinblack);
}

/* Active Server */

.listItem-GuPuDH.bd-guild.bd.bd-unread {
  background: #1f2430;
  border-top: 2px solid transparent;
  border-radius: 0;
}

.listItem-GuPuDH.bd-guild.bd-selected {
  background: var(--color-raisinblack);
  border-top: 2px solid var(--color-cyclamen);
  border-radius: 0;
}

/****************************************************************
* ===  Left Sidebar ===
**************************************************************/

nav.container-3w7J-x,
.threadSidebar-1o3BTy,
.members-1998pB,
.members-1998pB > div,
.scroller-1Bvpku,
.container-1r6BKw.themed-ANHk51 {
  background: var(--color-raisinblack);
}

.name-23GUGE {
  font-size: 14px;
  color: var(--color-manatee);
}

/* Server Name */

.bd-minimal .container-1r6BKw,
.bd-minimal .header-2V-4Sw,
.bd-minimal .searchBar-6Kv8R2 {
  background-color: transparent;
}

.name-1jkAdW {
  font-size: 12px;
  color: var(--color-manatee);
  font-weight: 600;
  text-transform: uppercase;
}

/* Channels */

.wrapper-2jXpOf {
  padding: 2px 0;
}

/* Channel Drop-down Icon */

.icon-2yIBmh {
  left: 4px;
  top: 12px;
  width: 14px;
  height: 12px;
}

/* Category */

.containerDefault-3tr_sE {
  margin-top: 5px;
  padding-top: 5px;
}

.iconVisibility-fhcwiH.wrapper-PY0fhH.clickable-536fPF {
  background: #1f2430;
  padding: 6px 2px;
  height: 36px;
}

.container-2ax-kl {
  color: #cbccc6;
  padding: 15px 15px 0 20px;
  height: 45px;
}

/* Active Channel Icon */

.iconVisibility-sTNpHs.wrapper-2jXpOf.modeConnected-3IsKId .icon-1DeIlz {
  color: var(--color-celeste);
}

/* Active Channel Name */

.iconVisibility-sTNpHs.wrapper-2jXpOf.modeConnected-3IsKId {
  background: linear-gradient(45deg, #263554, #232835);
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Active Channel Users */

.listDefault-3ir5aS {
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: radial-gradient(circle, #232e44 10%, #232835 90%);
  margin-bottom: 0;
}

.usernameFont-23TX-h {
  font-size: 12px;
}

/* Text Channel */

.channelName-2YrOjO,
.subtitle-3V1p2E {
  text-transform: none;
}

.mainContent-u_9PKf {
  padding: 3px 0;
}

/* Selected Channel */

.modeConnected-3IsKId .name-23GUGE,
.modeConnected-3IsKId:hover .name-23GUGE,
.modeSelected-346R90 .name-23GUGE,
.modeSelected-346R90:hover .name-23GUGE,
.modeUnread-1qO3K1 .name-23GUGE,
.modeUnread-1qO3K1:hover .name-23GUGE,
.notInteractive-1X92pj.modeConnected-3IsKId .name-23GUGE,
.notInteractive-1X92pj.modeSelected-346R90 .name-23GUGE {
  color: var(--color-lightskyblue);
}

.modeSelected-346R90 .content-1x5b-n,
.modeSelected-346R90:hover .content-1x5b-n {
  background-color: transparent;
}

/* Icons */

.modeSelected-346R90 .icon-1DeIlz,
.modeSelected-346R90:hover .icon-1DeIlz,
.modeUnread-1qO3K1 .icon-1DeIlz,
.modeUnread-1qO3K1:hover .icon-1DeIlz,
.icon-1DeIlz {
  color: #3f6779;
}

.modeSelected-346R90 .icon-1DeIlz {
  color: var(--color-celeste);
}

/****************************************************************
* ===  User Area  ===
**************************************************************/

.panels-j1Uci_ {
  background: var(--color-raisinblack);
  box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.4);
  padding-top: 4px;
  padding-bottom: 4px;
}

.gameIconWrapper-1YByCI {
  display: none;
}

.container-3baos1 .avatar-SmRMf2,
.container-3baos1 .avatar-SmRMf2 svg {
  width: 28px !important;
  height: 28px !important;
}

.title-eS5yk3 {
  font-size: 12px;
}

.bd-minimal .container-3baos1 .noWrap-3jynv6 {
  display: flex;
  opacity: 1;
}

.button-14-BFJ,
.button-14-BFJ svg {
  width: 18px;
  height: 18px;
  margin: 0 2px;
}

.button-1YfofB.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
  background: transparent;
}

/****************************************************************
* ===  Main Chat ===
**************************************************************/

.chat-3bRxxu {
  background-color: var(--color-raisinblack);
}

/* Chat Input */

.scrollableContainer-2NUZem {
  background: var(--color-raisinblack);
}

/* Chat Input Disabled */

.channelTextArea-rNsIhG {
  background-color: var(--color-raisinblack);
}

/* Embeds */

.embedFull-2tM8-- {
  background: var(--color-raisinblack);
}

/* Wave to say hi Buttons */

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background: transparent;
}

/****************************************************************
* ===  Members List  ===
**************************************************************/

.bd-minimal .membersWrap-2h-GB4 {
  width: 200px;
}

.layout-2DM8Md {
  height: 24px;
  padding: 6px 2px;
}

.avatar-3uk_u9,
.avatar-3uk_u9 > * {
  width: 24px !important;
  height: 24px !important;
}

.nameAndDecorators-5FJ2dg .name-uJV0GL {
  font-size: 12px;
}

.members-1998pB.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 .container-2ax-kl {
  background: var(--color-raisinblack);
  padding: 10px 0 10px 10px;
  height: 35px;
  color: #8c94a3;
}

/****************************************************************
* ===  Direct Messages  ===
**************************************************************/

.scroller-1JbKMe,
.theme-dark .container-1D34oG,
.actionButton-uPB8Fs,
.scroller-2ZPeAD,
.wrapper-3D2qGf,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.bd-minimal .searchBar-6Kv8R2 {
  background: var(--color-raisinblack);
}

.privateChannels-1nO12o .nameAndDecorators-5FJ2dg .name-uJV0GL {
  font-size: 14px;
}
