:root {
    --color-raisinblack: #222834;
    --color-timberwolf: #cbccc6;
    --color-lightsalmon: #f29e74;
    --color-cyclamen: #f06897;
    --color-mauve: #d4bfff;
    --color-celeste: #9ef0f0;
    --color-lightskyblue: #73d0ff;
    --color-frenchskyblue: #78a9ff;
    --color-bluegreen: #519aba;
    --color-manatee: #8c94a3;
  }
  
  body {
    background-color: var(--color-raisinblack);
  }
  
  /* Left Sidebar, Main Chat and Member List Background Colour */
  
  nav.container-3w7J-x,
  .chat-3bRxxu,
  .threadSidebar-1o3BTy,
  .members-1998pB,
  .members-1998pB > div,
  .scroller-1Bvpku,
  .container-1r6BKw.themed-ANHk51 {
    background: var(--color-raisinblack);
  }
  
  /* Selected Channel */
  
  .modeConnected-3IsKId .name-23GUGE,
  .modeConnected-3IsKId:hover .name-23GUGE,
  .modeSelected-346R90 .name-23GUGE,
  .modeSelected-346R90:hover .name-23GUGE,
  .modeUnread-1qO3K1 .name-23GUGE,
  .modeUnread-1qO3K1:hover .name-23GUGE,
  .notInteractive-1X92pj.modeConnected-3IsKId .name-23GUGE,
  .notInteractive-1X92pj.modeSelected-346R90 .name-23GUGE {
    color: var(--color-lightsalmon);
  }
  
  /* Icons */
  
  .modeSelected-346R90 .icon-1DeIlz, .modeSelected-346R90:hover .icon-1DeIlz, .modeUnread-1qO3K1 .icon-1DeIlz, .modeUnread-1qO3K1:hover .icon-1DeIlz, .icon-1DeIlz {
    color: var(--color-bluegreen);
  }
  
  /* Chat Input */
  
  .scrollableContainer-2NUZem {
    background: var(--color-raisinblack);
  }