/**
 * @name Serendipity
 * @author Darkharden
 * @version 1.0.0
 * @description Discord theme based on Serendipity for VS Code
 * @source https://github.com/schalkburger/discord-serendipity
*/

/****************************************************************

* ===  1. Global ===
* ===  2. Server List  ===
* ===  3. Left Sidebar ===
* ===  4. User Area  ===
* ===  5. Main Chat ===
* ===  6. Members List  ===
* ===  7. Direct Messages  ===
* ===  8. Settings  ===

**************************************************************/

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,500&display=swap");

/****************************************************************
* ===  1. Global ===
**************************************************************/

:root {
  --color-raisinblack: #232834;
  --color-ebonyclay: #1f2430;
  --color-timberwolf: #cbccc6;
  --color-lightsalmon: #f29e74;
  --color-cyclamen: #f06897;
  --color-mauve: #d4bfff;
  --color-celeste: #9ef0f0;
  --color-lightskyblue: #73d0ff;
  --color-frenchskyblue: #78a9ff;
  --color-bluegreen: #519aba;
  --color-manatee: #8c94a3;
  --color-white: #ffffff;
  --color-charcoal: #333b4e;
  --color-darkgunmental: #191e2a;
}

body {
  background-color: var(--color-raisinblack);
  font-family: "IBM Plex Sans", sans-serif;
}

/* Title Bar */

.titleBar-AC4pGV {
  background: var(--color-ebonyclay);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 15px !important;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border: 3px solid var(--color-ebonyclay) !important;
  border-radius: 2px !important;
  background-clip: padding-box !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-charcoal) !important;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-charcoal) !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: var(--color-raisinblack) !important;
}

/* Buttons */

.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: var(--color-cyclamen);
}

/****************************************************************
* ===  2. Server List  ===
**************************************************************/

/* Server Lists Width */

.bd-minimal .guilds-1SWlCJ {
  width: 65px;
}

/* Server List Background */

.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih {
  /* overflow: visible !important; */
  background: var(--color-ebonyclay);
  border-right: 1px solid var(--color-darkgunmental);
}

.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih::-webkit-scrollbar {
  width: 0 !important;
}

/* Server List Divider */

.theme-dark .children-19S4PO:after {
  background: transparent;
}

/* Discord Icon */

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background: transparent;
}

/* Server Icons */

.bd-minimal .container-1r6BKw,
.childWrapper-anI2G9,
.bd-minimal .guilds-1SWlCJ #bd-pub-button,
#app-mount .guilds-1SWlCJ .frame-oXWS21[class*="listItem"] .button-Jt-tIg {
  background: transparent;
  line-height: 2;
  padding: 0;
  height: 40px;
  border-radius: 0;
  font-size: 12px;
}

.childWrapper-anI2G9,
.wrapper-1BJsBx img,
#app-mount .guilds-1SWlCJ .svg-1X37T1,
#app-mount .guilds-1SWlCJ .wrapper-25eVIn,
#app-mount .guilds-1SWlCJ .guildsError-b7zR5H,
#app-mount .guilds-1SWlCJ .placeholderMask-3K9THS {
  width: 35px !important;
  height: 35px !important;
  border-radius: 30px;
  background-color: transparent;
}

#app-mount .guilds-1SWlCJ [class*="listItem"]:not([class*="listItemWrapper"]) {
  margin: 12px 0px;
  background: transparent;
}

/* Server Active Pill */

#app-mount .guilds-1SWlCJ [class*="pill"] span[style*="height: 40"] {
  background-color: var(--color-manatee);
  border-radius: 0;
}

/* Server Unread Pill */

#app-mount .guilds-1SWlCJ [class*="pill"] span[style*="height: 8"] {
  background-color: var(--color-cyclamen);
}

.upperLeftBadge-e35IpL .iconBadge-3qSJIw {
  background-color: transparent;
}

/* Search */

.searchBar-3dMhj,
.bd-search-wrapper,
.searchBar-3dMhjb {
  background: var(--color-darkgunmental);
}

/* Folders */

#app-mount .guilds-1SWlCJ [class*="expandedFolderBackground"] {
  min-height: 35px;
}

.folderIconWrapper-1_bOZe,
.folder-1hbNCn,
.circleIconButton-1QV--U {
  background: var(--color-darkgunmental) !important;
}

.bd-minimal .guilds-1SWlCJ .wrapper-3Njo_c > span {
  left: 12px;
  width: 45px;
}

/* Expanded Folder */

.expandedFolderBackground-1cujaW {
  background-color: var(--color-darkgunmental) !important;
  border-radius: 8px !important;
  border: 1px solid var(--color-raisinblack) !important;
}

#app-mount .guilds-1SWlCJ [role="group"] {
  padding-bottom: 10px;
}

.expandedFolderIconWrapper-Huv7rA {
  filter: brightness(100) opacity(0.95);
}

/* Active Server */

.listItem-GuPuDH.bd-guild.bd-unread {
  background: var(--color-ebonyclay);
  border-radius: 0;
}

.listItem-GuPuDH.bd-guild.bd-selected {
  background: var(--color-raisinblack);
  border-radius: 0;
}

/* .draggable-2E_4tJ {
  position: relative;
  height: 30px;
} */

/* Guild Separator */

.guildSeparator-33mFX6 {
  display: none;
}

#bd-pub-li {
  display: none;
}

/****************************************************************
* ===  3. Left Sidebar ===
**************************************************************/

nav.container-3w7J-x,
.threadSidebar-1o3BTy,
.scroller-1Bvpku,
.container-1r6BKw.themed-ANHk51 {
  background: var(--color-ebonyclay);
}

/* Server Name */

.name-1jkAdW {
  font-size: 12px;
  color: var(--color-frenchskyblue);
  font-weight: 400;
  text-transform: uppercase;
}

/* Server Name Arrow */

.bd-minimal .container-1r6BKw,
.bd-minimal .header-2V-4Sw,
.bd-minimal .searchBar-6Kv8R2 {
  background-color: transparent;
  color: var(--color-manatee);
}

/* Channels */

.name-23GUGE {
  font-size: 14px;
  color: var(--color-manatee);
}

.wrapper-2jXpOf {
  padding: 1px 0;
}

/* Category Container */

.containerDefault-3tr_sE {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid var(--color-darkgunmental);
}

/* Category Drop-down Icon */

.icon-2yIBmh {
  left: 4px;
  top: 12px;
  width: 14px;
  height: 12px;
}

/* Category Background */

.iconVisibility-fhcwiH.wrapper-PY0fhH.clickable-536fPF {
  background: var(--color-ebonyclay);
  padding: 6px 2px;
  height: 36px;
}

/* Category Name */

.container-2ax-kl {
  color: var(--color-timberwolf);
  padding: 15px 15px 0 20px;
  height: 45px;
}

/* Active Channel Name */

.iconVisibility-sTNpHs.wrapper-2jXpOf.modeConnected-3IsKId {
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Active Channel Container */

.listDefault-3ir5aS {
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 6px;
  margin-bottom: 0;
}

.usernameFont-23TX-h {
  font-size: 12px;
}

/* Text Channel */

.channelName-2YrOjO,
.subtitle-3V1p2E {
  text-transform: none;
}

.mainContent-u_9PKf {
  padding: 4px 0;
}

/* Channel Icons */

.modeSelected-346R90:hover .icon-1DeIlz,
.modeUnread-1qO3K1 .icon-1DeIlz,
.modeUnread-1qO3K1:hover .icon-1DeIlz,
.icon-1DeIlz {
  color: var(--color-manatee);
}

/* Selected Voice Channel Background */

.modeSelected-346R90 .content-1x5b-n,
.modeSelected-346R90:hover .content-1x5b-n {
  background-color: transparent;
}

.iconVisibility-sTNpHs.wrapper-2jXpOf.modeSelected-346R90 {
  background: var(--color-darkgunmental);
}

/* Selected Voice Channel Color */

.modeSelected-346R90 .name-23GUGE,
.modeConnected-3IsKId .name-23GUGE,
.modeSelected-346R90:hover .name-23GUGE {
  color: var(--color-bluegreen);
}

/* Selected Voice Channel Icon */

.modeSelected-346R90 .icon-1DeIlz {
  color: var(--color-bluegreen);
}

/* New Unreads */

.unread-1xRYoj {
  background-color: var(--color-charcoal);
}

/****************************************************************
* ===  4. User Area  ===
**************************************************************/

.panels-j1Uci_ {
  background: var(--color-ebonyclay);
  box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.2);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-top: 0;
}

.gameIconWrapper-1YByCI {
  display: none;
}

.container-3baos1 .avatar-SmRMf2,
.container-3baos1 .avatar-SmRMf2 svg {
  width: 28px !important;
  height: 28px !important;
}

.title-eS5yk3 {
  font-size: 12px;
}

.bd-minimal .container-3baos1 .noWrap-3jynv6 {
  display: flex;
  opacity: 1;
}

/* Activity Panel */

.wrapper-24pKcD .container-1giJp5 {
  display: flex;
  flex-direction: column-reverse;
}

.panels-j1Uci_ .activityPanel-28dQGo {
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  height: 0;
  padding: 0 8px;
}

.panels-j1Uci_:hover .activityPanel-28dQGo {
  opacity: 1;
  visibility: visible;
  height: 30px;
  padding: 0 8px;
}

.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm {
  position: relative;
  bottom: -6px;
}

/* Voice Connected Panel */

.wrapper-24pKcD .container-1giJp5 {
  opacity: 1;
  visibility: visible;
  transition: all 200ms ease-in-out;
  height: auto;
  padding: 0 8px 4px 8px;
}

.panels-j1Uci_:hover .wrapper-24pKcD .container-1giJp5 {
  opacity: 1;
  visibility: visible;
  height: auto;
  padding: 0 8px 4px 8px;
}

/* Voice Connected Text */

.button-38aScr {
  font-size: 12px;
}

/* Video & Screen Buttons */

.actionButtons-14eAc_ {
  margin-bottom: 10px;
}

.panels-j1Uci_ .actionButtons-14eAc_ {
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  height: 0;
  padding: 0 8px;
}

.panels-j1Uci_:hover .actionButtons-14eAc_ {
  opacity: 1;
  visibility: visible;
  height: 24px;
  padding: 0 8px;
}

.button-14-BFJ,
.button-14-BFJ svg {
  width: 18px;
  height: 18px;
  margin: 0 2px;
}

.button-1YfofB.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
  background: transparent;
  margin: 0;
  padding: 0;
}

.button-1YfofB.buttonColor-7qQbGO:hover,
.button-1YfofB .buttonColor-7qQbGO:hover {
  background: var(--color-charcoal);
}

/****************************************************************
* ===  5. Main Chat ===
**************************************************************/

/* Main Chat Loading Background */

.wrapper-1F5TKx {
  background-color: var(--color-raisinblack);
}

.chat-3bRxxu {
  background-color: var(--color-raisinblack);
}

/* Main Chat Mention */

.mentioned-xhSam7 {
  background: var(--color-charcoal);
}

.mentioned-xhSam7:before {
  background-color: var(--color-frenchskyblue);
}

/* Chat Input */

.scrollableContainer-2NUZem {
  background: var(--color-ebonyclay);
  border: 1px solid var(--color-ebonyclay);
  border-radius: 4px;
}

.channelTextArea-2VhZ6z {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Chat Input Gradient Thing */

.theme-dark .form-2fGMdU:before {
  background: transparent;
}

/* Chat Input Disabled */

.channelTextArea-rNsIhG {
  background-color: var(--color-raisinblack);
}

/* Embeds */

.embedFull-2tM8-- {
  background: var(--color-raisinblack);
}

/* Wave to say hi Buttons */

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background: transparent;
}

.buttonContainer-DHceWr .wrapper-2aW0bm {
  background-color: var(--color-darkgunmental);
  padding: 6px 8px;
  height: 45px;
}

/* Welcome messages */

.card-3RzMcx {
  background-color: var(--color-darkgunmental);
}

/****************************************************************
* ===  6. Members List  ===
**************************************************************/

/* Background Colours */

.members-1998pB,
.members-1998pB > div,
.container-2wlB3z {
  background: var(--color-ebonyclay);
}

.bd-minimal .membersWrap-2h-GB4 {
  width: 200px;
}

/* Members Group */

h2.membersGroup-v9BXpm.container-2ax-kl {
  background: var(--color-ebonyclay);
  padding: 10px 0 10px 10px;
  height: 35px;
  color: var(--color-manatee);
}

/* Member */

.member-3-YXUe {
  margin-left: 12px;
}

.layout-2DM8Md {
  height: 24px;
  padding: 6px 0;
}

.avatar-3uk_u9,
.avatar-3uk_u9 > * {
  width: 24px !important;
  height: 24px !important;
}

.nameAndDecorators-5FJ2dg .name-uJV0GL {
  font-size: 14px;
}

/****************************************************************
* ===  7. Direct Messages  ===
**************************************************************/

.scroller-1JbKMe,
.theme-dark .container-1D34oG,
.actionButton-uPB8Fs,
.scroller-2ZPeAD,
.wrapper-3D2qGf,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.bd-minimal .searchBar-6Kv8R2 {
  background: var(--color-raisinblack);
}

.privateChannels-1nO12o .nameAndDecorators-5FJ2dg .name-uJV0GL {
  font-size: 14px;
}

/****************************************************************
* ===  8. Settings  ===
**************************************************************/

.sidebarRegionScroller-3MXcoP,
.contentRegionScroller-26nc1e {
  background: var(--color-ebonyclay);
}

.bd-addon-list .bd-addon-header,
.bd-addon-list .bd-addon-card,
.preview-2nSL_2,
.itemFilled-3llgIC,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.background-1QDuV2,
.fieldList-21DyL8,
.accountProfileCard-1XCH88,
.noItemsCard-153Tex,
.noItemsCard-3TSAgO,
.lookFilled-22uAsw.select-2fjwPw,
.container-_phMUq,
.accountList-33MS45,
.connection-1fbD7X,
.connectionHeader-2MDqhu,
.integration-3kMeY4,
.cardPrimary-1Hv-to,
.cardPrimaryEditable-3KtE4g,
.settingCard-3w2mVL.active-1ytUzX,
.cardFolder-28dwxo,
.scroller-305q3I {
  background: var(--color-raisinblack);
  border-color: var(--color-charcoal);
}

/* Channel Permissions */

.scroller-305q3I {
  background: var(--color-ebonyclay);
  border-color: var(--color-charcoal);
}

.scroller-305q3I::-webkit-scrollbar {
  width: 0px !important;
}

/* Search Roles */

.container-cMG81i {
  background: var(--color-darkgunmental);
}

.itemFilled-3llgIC[aria-checked="true"] {
  background: var(--color-charcoal);
}

/* Recent Mentions & Unreads */

.recentMentionsPopout-3rCiI6.messagesPopoutWrap-1MQ1bW {
  background: var(--color-raisinblack);
}

.recentMentionsPopout-3rCiI6.messagesPopoutWrap-1MQ1bW .header-ykumBX {
  background: var(--color-ebonyclay);
}

.recentMentionsPopout-3rCiI6.messagesPopoutWrap-1MQ1bW .channelHeader-3Gd2xq {
  background: var(--color-darkgunmental);
}

.recentMentionsPopout-3rCiI6.messagesPopoutWrap-1MQ1bW
  .messageContainer-gbhlwo {
  background: var(--color-ebonyclay);
}

/* Audit Log */

.contentRegion-3nDuYy {
  background: var(--color-darkgunmental);
}

.theme-dark .headerClickable-g5d9lT,
.theme-dark .headerDefault-2D4Kcg {
  background: var(--color-ebonyclay);
}

/* Popout Menus */

.menu-3sdvDG {
  background: var(--color-darkgunmental);
}

.menu-3sdvDG .scroller-3BxosC::-webkit-scrollbar {
  width: 0px !important;
}

/****************************************************************
* ===  9. Plugins  ===
**************************************************************/

/* BetterFormattingRedux */

#bfredux.bf-toolbar::before {
  background: var(--color-darkgunmental);
}
